<div
  class="fixed inset-0 z-[9999] flex items-center justify-center bg-black bg-opacity-50"
  (click)="closeModal()"
>
  <div
    class="bg-white w-[776px] h-[462px] p-10 rounded-t-lg flex flex-col items-center gap-6 relative"
    (click)="$event.stopPropagation()"
  >
    <!-- Close Icon -->
    <button
      type="button"
      class="absolute top-4 right-4 w-[24px] h-[24px] flex items-center justify-center text-gray-400 hover:text-gray-600"
      (click)="closeModal()"
    >
      <i class="icon icon-cross-close text-[24px]"></i>
    </button>

    <!-- Icon Section -->
    <div
      class="flex items-center justify-center w-10 h-10 -mt-8 overflow-hidden rounded-lg"
    >
      <div class="relative w-6 h-6">
        <div
          class="w-3 h-3 border border-[#212121] absolute top-[6px] left-[6px]"
        ></div>
      </div>
    </div>
    <div class="relative w-24 h-24">
      <div
        class="w-24 h-24 absolute rounded-full bg-[#FEEBDB] border-[16px] border-[#FFF6EF]"
      ></div>
      <div class="w-[36px] h-[36px] absolute top-[28px] left-[30px]">
        <i class="text-[36px] text-[#F57F17] icon icon-exclamation"></i>
      </div>
    </div>

    <div class="mt-14"></div>
    <!-- Text Section -->
    <div class="flex flex-col items-center gap-6 text-center">
      <h2
        class="w-[696px] text-[#212121] text-[24px] font-bold font-inter tracking-[0.12px] break-words"
      >
        This RL number and company name do not match with BMET provided member
        list!
      </h2>
      <div
        class="text-[#757575] text-[18px] font-inter font-medium leading-[24px] break-words"
      >
        For this possible reason your account was unable to be verified. Check
        the following:
        <ul class="pl-10 mt-4 text-left list-disc list-inside">
          <li>Check the RL number and company name</li>
          <li>Enter the exact name which has been registered in BMET</li>
        </ul>
      </div>
    </div>

    <!-- Support Section -->
    <div
      class="w-[696px] h-[56px] p-4 bg-[#EFF8FF] rounded-md flex items-center gap-2"
    >
      <p
        class="text-[#0E73A9] text-[18px] font-inter font-medium leading-[24px] break-words"
      >
        For further inquiries call to our Customer Support
      </p>
      <div
        class="flex items-center text-[#0E73A9] text-[18px] font-inter font-medium leading-[24px]"
      >
        <i class="icon-phone"></i>
        <span>16479</span>
      </div>
    </div>

    <!-- Button Section -->
    <div
      class="w-[776px] h-[73px] px-5 rounded-b-lg py-4 bg-[#F3F4F6] border-t-[2px] border-[#DAE5EC] flex justify-center items-center gap-2"
    >
      <div
        class="px-8 py-3 bg-[#05A44B] rounded-[8px] flex justify-center items-center gap-2"
      >
        <button
          type="button"
          class="text-white text-[14px] font-inter font-medium break-words"
          (click)="closeModal()"
        >
          Okay
        </button>
      </div>
    </div>
  </div>
</div>
