<div class="w-auto h-[64px] px-[230px] py-5 bg-[#e8eff3] flex justify-between items-center">
  <!-- Left Section (Logo Placeholder) -->
  <div class="flex justify-start items-center gap-4 -ml-52">
    <div class="w-[250px] h-[34px] relative overflow-hidden">
      <a  href="https://recruiter.bdjobs.com">
      <img
        src="	https://recruiter.bdjobs.com/assets/images/bdjobs-recruiter-logo.svg"
        alt="Bdjobs Recruiter Logo"
        class="w-full h-auto"
      />
      </a>
    </div>
  </div>

  <!-- Right Section (Buttons) -->
  <div class="flex justify-start items-center gap-4 -mr-52">
    <a
      href="https://corporate3.bdjobs.com/services.asp?from=recruiter"
      class="px-[12px] py-[7px] bg-[#0e73a9] rounded-md shadow-sm text-white text-[14.4px] text-center font-normal w-[147.03px] h-[35.61px]"
    >
      Service Packages
    </a>
    <a
      href="https://recruiter.bdjobs.com/?from=servicePage"
      class="px-[12px] py-[5px] rounded-md shadow-sm border border-[#0e73a9] text-[#0e73a9] text-[14.4px] font-normal"
    >
      Sign In
    </a>
  </div>
</div>
