header {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a:hover {
    color: #2F64A3;
  }
  
  button i {
    color: #2F64A3;
  }
  
  button:hover i {
    color: #1E3A8A;
  }
  