<h1 class="text-primary-900 text-lg mb-1">Change Password</h1>
<h3 class="text-tertiary-600 text-sm">You can change your password from here. But make sure to choose a password that you can remember</h3>
<hr class="mt-5 mb-6">

<form class=" xl:max-w-full  max-w-[400px] grid gap-y-4" [formGroup]="updatePassForm" (ngSubmit)="updatePassword()">
  <div class="grid gap-y-9">
    <div class="relative">
      <app-input [ngClass]="showErrorMsgOldPass()? ' border-red-500 ': 'border-0'" [type]="typeOldPass"
        [isNumericOnly]="false" [isRequired]="true" [label]="'Old Password'" [classesForLabel]="'text-secondary-700'"
        [control]="oldPasswordControl()" [placeholder]="'Enter old password'">
      </app-input>
      <div class="absolute right-2 top-10">
        @if(showErrorMsgOldPass() ) {
        <span class="icon-alert-circle text-xl text-[#F04438]"></span>
        }
        @else if(typeOldPass === 'password' && !showErrorMsgOldPass()) {
        <span class="icon-eye-off-2 text-xl text-[#667085]" (click)="showPassword('typeOldPass')"></span>
        }
        @else { <span class="icon-eye-2 text-xl text-[#667085]" (click)="showPassword('typeOldPass')"></span>}
      </div>
      @if(isOldPassPatternValid()==='notValid'){
      <span class="absolute text-sm font-normal text-[#F04438]">Type a valid password except ', %, <,>, ", &, (, ), or space</span>

      } @else {
      @if(showErrorMsgOldPass()){
      <span class="absolute text-sm text-error-primary-600 top-full left-0">Wrong password. Please try again</span>
      }
      }
    </div>

    <div class="relative">
      <app-input [type]="typeNewPass" [isNumericOnly]="false" [isRequired]="true" [label]="'New Password'"
        [classesForLabel]="'text-secondary-700'" [control]="newPasswordControl()" [maxLength]="8"
        [placeholder]="'Maximum 8 characters'" [validationText]="'Wrong password. Please try again'">
      </app-input>
      <div class="absolute right-2 top-10">
        @if(typeNewPass === 'password' ) {
        <span class="icon-eye-off-2 text-xl text-[#667085]" (click)="showPassword('typeNewPass')"></span>
        }
        @else { <span class="icon-eye-2 text-xl text-[#667085]" (click)="showPassword('typeNewPass')"></span>}


      </div>
      @if(isNewPassPatternValid()==='notValid'){
      <span class="absolute text-sm font-normal text-[#F04438]">Type a valid password except ', %, <,>, ", &, (, ), or space</span>
      }
    </div>

    <div class="relative">
      <app-input [type]="typeConfirmPass" [isNumericOnly]="false" [isRequired]="true" [label]="'Confirm Password'"
        [classesForLabel]="'text-secondary-700'" [control]="confirmPasswordControl()" [maxLength]="8"
        [placeholder]="'Maximum 8 characters'" [validationText]="'Wrong password. Please try again'">
      </app-input>
      <div class="absolute right-2 top-10">
        @if((isConfirmPassMatch()==="match" )){
        <span class="icon-tik-1 text-[#079455] text-xl pr-1"></span>
        }
        @if(typeConfirmPass === 'password' ) {
        <span class="icon-eye-off-2 text-xl text-[#667085]" (click)="showPassword('typeConfirmPass')"></span>
        }
        @else { <span class="icon-eye-2 text-xl text-[#667085]" (click)="showPassword('typeConfirmPass')"></span> }
      </div>

      @if(isConfirmPassPatternValid()==='notValid'){
      <span class="absolute text-sm font-normal text-[#F04438]">Type a valid password except ', %, <,>, ", &, (, ), or space</span>
      }@else{
      @if( isConfirmPassMatch()==="not-match"){
      <span class="absolute text-sm font-normal text-[#F04438]">Password Didn't match</span>
      }
      @else if(isConfirmPassMatch()==="match") {
      <span class="absolute text-sm font-normal text-[#079455]">Password match</span>
      }
      }

    </div>

    <!-- <div>match yooooo</div> -->
  </div>

  <button [disabled]="isOldPasswordEmpty() || showErrorMsgOldPass()"
    [ngClass]="isConfirmPassMatch()==='not-match' || isOldPasswordEmpty() ?'cursor-not-allowed':'cursor-auto'"
    class="px-[14px] py-[10px] bg-[#0E73A9] text-[#FFFFFF] rounded-lg mt-6 font-bold max-w-fit" type="submit">
    Update Password
  </button>
</form>