<div class="w-full md:w-80 h-auto md:h-[522px] bg-white rounded-md outline outline-1 outline-neutral-200 inline-flex flex-col justify-start items-center">
  <div class="self-stretch px-4 py-3 bg-white rounded-tl-md rounded-tr-md border-b border-neutral-200 inline-flex justify-between items-center">
    <div class="justify-start text-zinc-800 text-lg font-semibold font-['Inter']">Features</div>
  </div>
  <div class="self-stretch flex-1 py-5 flex flex-col justify-start items-center gap-9">
    <div class="self-stretch px-4 flex flex-col gap-9">
      <div class="self-stretch flex flex-col gap-5">
        @for (feature of bulkSubscriptionFeatures(); track feature) {
          <div class="self-stretch flex items-start gap-3">
            <div class="w-5 h-5 flex items-center justify-center bg-green-200 rounded">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 8.5L7 11.5L12 5.5" stroke="#15803D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="flex-1 text-zinc-800 text-sm font-normal font-['Inter'] leading-tight" [innerHTML]="feature"></div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
