.input-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: #212121;
  font-size: 14px;
  font-family: 'inter';
  font-weight: 500;
  line-height: 1.5;
}

.required-indicator {
  color: #e02424;
  margin-left: 4px;
}

.input-box {
  padding: 14px 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dae5ec;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-element {
  width: 100%;
  font-size: 16px;
  color: #555;
  font-family: 'Inter', sans-serif;
  border: none;
  outline: none;

  &::placeholder {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 16px;
  }

  &:focus {
    outline: none;
  }
}
