<div class="mb-[20px]" [id]="id + '-wrapper'">
    <label [for]="id" class="block text-sm font-medium text-gray-700">
      {{ label }}
      <span ngIf="isRequired" class="text-red-600"></span>
    </label>
    <textarea
      class="block w-full h-[90px] p-[14px] text-black font-inter text-[16px] font-normal leading-[22px] border-2 border-[#DAE5EC] rounded-[8px] bg-white shadow-[0px_1px_2px_0px_rgba(0,0,0,0.05)] resize-y"
      [name]="name"
      [id]="id"
      [placeholder]="placeholder"
      [maxLength]="maxLength"
      [formControl]="control"
      [rows]="rows"
    ></textarea>
  </div>