<div class="sm:flex-row flex flex-col gap-2 -ml-2 sm:text-sm text-xs">
  <!-- Refresh Button with Icon -->
   <div class="flex items-center gap-0 mx-5">
    <button type="button" class="p-0.5 sm:p-2 mr-1 sm:mr-2  text-center text-[#0E73A9] rounded-full" (click)="generateCaptcha()">
      <i class="icon icon-refresh"></i>
    </button>
  
    <!-- Expression Display -->
    <div class="flex items-center justify-center  font-semibold text-[#0A4A94] bg-blue-100 rounded-md w-[100px] sm:w-[135px] h-10 md:h-[48px]  py-2.5 sm:px-[33px] sm:py-[13px] border border-[#0E73A9]">
      {{ expressionDisplay() }} =
    </div>
   </div>
  

  <!-- CAPTCHA Input with blur event -->
  <input
    type=""
    id="captchaInput"
    [maxLength]="2"
    [formControl]="captchaInput"
    class="h-[50px] sm:w-[400px] px-4 py-2 text-[16px] font-inter -ml-4 text-gray-600 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-200"
    placeholder="Type the verification code"
    autocomplete="off"
    (blur)="validateAnswerOnBlur(captchaInput.value)"
  />
  

  <!-- Error Message -->

@if (captchaInput.errors?.['incorrect'] && captchaInput.touched) {
  <div class="mt-1 ml-3 text-sm text-red-500" aria-live="polite">
    Incorrect Verification Code. Please try again.
  </div>
}
