<div class="bg-[#165273] text-white py-5 px-5 lg:px-10">
  <div class="max-w-7xl mx-auto flex flex-col lg:flex-row lg:items-center lg:justify-between space-y-6 lg:space-y-0">
    <!-- International Partners -->
    <div class="relative">
      <button
        (click)="toggleDropdown2()"
        class="footer-dropdown-text flex items-center gap-2 cursor-pointer hover:text-[#f57c00] focus:outline-none text-sm font-medium"
      >
        <span>International Partners</span>
        <span>{{ dropdownOpenInternational ? '▼' : '▲' }}</span>
      </button>
      <div
        *ngIf="dropdownOpenInternational"
        class="footer-dropdown-body absolute bg-[#165273] text-white text-sm shadow-md rounded bottom-full translate-y-[-0.5rem] w-64 z-10"
      >
        <a href="https://www.brightermonday.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Brighter Monday (Africa)</a>
        <a href="https://www.jobberman.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Jobberman (West Africa)</a>
        <a href="https://www.jobsdb.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">jobsDB (S.E. Asia)</a>
        <a href="https://www.jobstreet.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">JobStreet (S.E. Asia)</a>
        <a href="https://www.jora.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Jora (Worldwide)</a>
        <a href="https://www.occ.com.mx/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">OCC Mundial (Mexico)</a>
        <a href="https://www.seek.com.au/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">SEEK (Australia)</a>
        <a href="https://www.workana.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Workana (Latin America)</a>
        <a href="https://www.zhaopin.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Zhaopin (China)</a>
      </div>
    </div>

    <!-- Other Partners -->
    <div class="relative">
      <button
        (click)="toggleDropdown()"
        class="footer-dropdown-text flex items-center gap-2 cursor-pointer hover:text-[#f57c00] focus:outline-none text-sm font-medium"
      >
        <span>Other Partners</span>
        <span>{{ dropdownOpen ? '▼' : '▲' }}</span>
      </button>
      <div
        *ngIf="dropdownOpen"
        class="footer-dropdown-body absolute bg-[#165273] text-white text-sm shadow-md rounded bottom-full translate-y-[-0.5rem] w-64 z-10"
        >
        <a href="https://ajkerdeal.com/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">AjkerDeal (Bangladesh)</a>
        <a href="https://deliverytiger.com.bd/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Delivery Tiger (Bangladesh)</a>
        <a href="https://www.shl.com/en-in/" target="_blank" rel="noopener noreferrer" class="dropdown-item block px-4 py-2 hover:bg-gray-100">Aspiring Minds (India)</a>
      </div>
    </div>

    <!-- Privacy Policy -->
    <div class="inline-flex">
      <a
        class="footer-dropdown-text py-2 text-sm font-medium hover:text-[#f57c00] focus:text-[#f57c00]"
        href="https://bdjobs.com/policy/Privacy_policy.asp"
        target="_blank"
        rel="noopener noreferrer"
      >
        Privacy Policy
      </a>
    </div>

    <!-- Terms & Conditions -->
    <div class="inline-flex">
      <a
        class="footer-dropdown-text py-2 text-sm font-medium hover:text-[#f57c00] focus:text-[#f57c00]"
        href="https://bdjobs.com/tos.asp"
        target="_blank"
        rel="noopener noreferrer"
      >
        Terms & Conditions
      </a>
    </div>

    <!-- Support -->
    <div class="support-text flex items-center flex-wrap space-x-4">
      <span class="hover:text-[#FF8000]">Call For Support</span>
      <div class="flex items-center space-x-2 text-[#FF8000]">
        <span class="icon icon-phone"></span>
        <a href="tel:16479" class="hover:text-[#fdd835]">09638666444,</a>
        <a href="tel:091612444888" class="hover:text-[#fdd835]">01897627858</a>
      </div>
    </div>
  </div>
</div>
<app-back-to-top></app-back-to-top>