<div class="bg-gray-200 h-screen">
<div class="bg-white mt-4 rounded-sm  shadow-sm mb-10 p-24 w-auto h-[700px]">
<div class="flex flex-col items-center justify-center text-center">
    <!-- User Avatar -->
    <div class="rounded-full bg-white-200 w-1700 h-56 flex items-center justify-center mb-4">
      <img
        src="http://corporate3.bdjobs.com/images/emp-reg-successfully.png"
        alt="User Icon"
        class="w-32 -mt-40 -mb-16 h-32"
      />
    </div>
  
    <!-- Congratulation Text -->
    <h1 class="text-2xl font-bold -mt-20 mb-2">Congratulation!</h1>
    <p class="text-gray-600 mb-6" *ngIf="mode === 'edit'">
      Corporate account has been updated successfully!
    </p>
    <ng-container *ngIf="mode === 'create'">
      <p class="text-gray-600 mb-6">
        Your employer account has been created successfully.
      </p>
      <button
        class="px-5 py-3 bg-[#2e7d32] text-white text-md rounded-lg shadow-md hover:bg-[#276a2b] transition-all mb-4"
        (click)="onClickLoginButton()"
      >
        Login <span class="icon icon-angle-right text-sm"></span>
      </button>
    </ng-container>
  
    <!-- List of Services -->
    <div
      class="bg-blue-100 text-blue-800 px-4 py-3 rounded-lg border border-blue-300"
    >
      <p class="mb-2">
        Click on the link below to check out the corporate services of bdjobs.com.
      </p>
      <a
        href="https://corporate3.bdjobs.com/services.asp"
        target="_blank"
        class="font-bold text-pink-600 hover:underline"
      >
        List of Services →
      </a>
    </div>
  </div>
</div>


  