<div id="footerhide" class="footer-component bg-white py-12" style="font-family: 'Inter', sans-serif, 'Noto Sans Bengali UI', Corporate !important; font-size: 16px; font-weight: 500;">
  <div class="container mx-auto px-12">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
      <div class="hidden md:flex md:items-center -mt-8">
        <a href="https://bdjobs.com" target="_blank" rel="noopener noreferrer">
          <img
            class="h-12 -mt-8"
            src="assets/images/logo.png"
            draggable="false"
            alt="Bdjobs Logo"
          />
        </a>
      </div>
      
      <div class="ml-16 mr-12">
        <h2 class="text-lg font-semibold mb-3">About Us</h2>
        <ul class="space-y-1.5">
          <li>
            <a
              href="https://bdjobs.com/about.asp"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >About Bdjobs</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/contact.asp"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="ml-4">
        <h2 class="text-lg font-semibold mb-3">Guide to Bdjobs Recruiter</h2>
        <ul class="space-y-1.5">
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/job-posting-user-guide.asp"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >Job Posting User Guide</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/applicant-hiring-activity-user-guide.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >One Stop Recruitment Center</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/help.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >FAQ</a
            >
          </li>
          <li>
            <a
              href="https://corporate3.bdjobs.com/help/getting_started.asp?from=recruiter"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >How To</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-lg font-semibold mb-3">Others</h2>
        <ul class="space-y-1.5">
          <li>
            <a
              href="https://jobs.bdjobs.com/jobsearch.asp"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >Jobs</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/career/counsel.asp"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >Career Counseling</a
            >
          </li>
          <li>
            <a
              href="https://bdjobs.com/m_d_l/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 hover:text-orange-500 text-[0.9rem]"
              >E-Learning</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-lg font-semibold mb-3">Follow Us</h2>
        <div class="flex space-x-3 mb-6">
          <a
            href="https://www.facebook.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/facebook-color-icon.svg"
              class="w-6 h-6"
              alt="Facebook"
              draggable="false"
            />
          </a>
          <a
            href="https://b.bdjobs.com/google-page"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/google-color-icon-round.png"
              class="w-6 h-6"
              alt="Google"
              draggable="false"
            />
          </a>
          <a
            href="https://www.youtube.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/youtube-color-icon.svg"
              class="w-6 h-6"
              alt="Youtube"
              draggable="false"
            />
          </a>
          <a
            href="https://linkedin.com/company/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/linkedin-color-icon.svg"
              class="w-6 h-6"
              alt="LinkedIn"
              draggable="false"
            />
          </a>
          <a
            href="https://www.instagram.com/mybdjobs/"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/instagram-color-icon.svg"
              class="w-6 h-6"
              alt="Instagram"
              draggable="false"
            />
          </a>
        </div>
        
        <h2 class="text-lg font-semibold mb-3">Get Employer App</h2>
        <div class="flex space-x-2">
          <a
            href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/google-play-badge.svg"
              alt="Google Play"
              class="h-8"
              draggable="false"
            />
          </a>
          <a
            href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-80"
          >
            <img
              src="assets/images/footer/app-store-badge.svg"
              alt="App Store"
              class="h-8"
              draggable="false"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-bottom></app-footer-bottom>
