
<div class="job-board emp-reg-form">
  <div class="border border-gray-200  p-6 mx-16 my-4 bg-white">
    <div class="flex flex-col bg-center justify-center">
      <div class="w-full">
        <h4 class="custom-font-style">Congratulations! Your account has been created successfully.</h4>
        <!-- Form Title -->
        <h2 class="text-2xl font-semibold mb-6 text-[#2F64A3] text-center">
          Provide your information for NID Verification
        </h2>

        <!-- Form -->
        <form [formGroup]="nidForm" class="space-y-6">
          <!-- National ID Number and Input Field (Full Width) -->
          <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 ">
            <label for="nid" class="text-sm font-bold text-gray-700 w-full md:w-1/4">
              National ID Number <span class="text-red-500">*</span>
            </label>
            <input
              formControlName="nid"
              type="text"
              id="nid"
              placeholder="Enter your NID number"
              class="w-full md:w-3/4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>

          <div class="text-red-600 text-sm">
            @if (nidForm.controls['nid'].touched &&  nidForm.controls['nid'].errors?.['required']) {
            <span>NID Number is required.</span>
            }
            @else if (nidForm.controls['nid'].errors?.['minlength']) {
              <span>NID must be at least 10 digits long.</span>
            }
            @else if (nidForm.controls['nid'].errors?.['maxlength']) {
              <span>NID cannot exceed 17 digits.</span>
            }
        </div>

          <!-- Date of Birth and Input Field (Full Width) -->
          <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0">
            <label for="dob" class="text-sm font-bold text-gray-700 w-full md:w-1/4">
              Date of Birth <span class="text-red-500">*</span>
            </label>
            <input
              formControlName="dob"
              type="date"
              id="dob"
              class="w-full md:w-3/4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>

          <div class="text-red-600 text-sm">
            @if (nidForm.controls['dob'].touched &&  nidForm.controls['dob'].errors?.['required']) {
            <span>DOB is required.</span>
            }
        </div>

          <!-- Capture Section (Shifted Left) -->
          <div class="flex flex-col md:flex-row items-start">
            <label class="block text-sm font-bold text-gray-700 md:w-1/4">
              Capture your Image <span class="text-red-500">*</span>
            </label>
            <div class="flex flex-col items-start md:w-3/4">
              <div class="w-44 h-44 rounded-lg bg-gray-100 flex items-center justify-center mb-4 overflow-hidden">
                <img *ngIf="capturedPhoto" class="rounded-md object-cover w-full h-full" [src]="capturedPhoto" alt="Captured Photo" />
                <video *ngIf="!capturedPhoto" #video class="rounded-md w-full h-full object-cover" autoplay></video>
              </div>

              <div class="flex space-x-4 text-[18px]">
                <button
                  *ngIf="!photoCaptured"
                  type="button"
                  (click)="captureImageFromVideo()"
                  class="bg-green-700 text-white px-4 py-2 rounded-md"
                >
                  Capture
                </button>
                <button
                  *ngIf="photoCaptured"
                  type="button"
                  (click)="changePhoto()"
                  class="bg-blue-500 text-white px-4 py-2 rounded-md"
                >
                  Change
                </button>
              </div>

              <div *ngIf="photo?.invalid && (photo?.dirty || photo?.touched)" class="text-red-500 text-sm">
                <div *ngIf="photo?.errors?.['required']">Photo is required.</div>
              </div>
            </div>
          </div>

          <!-- Buttons (Full Width on Small Screens, Side by Side on Larger Screens) -->
          <div class="flex flex-col text-[18px]  md:flex-row justify-end items-center space-y-4 md:space-y-0 md:space-x-4 mt-6">
            <button
              type="button"
              class="w-full md:w-auto bg-gray-500 text-white px-6 py-4 rounded-md text-center"
            >
              Skip Now
            </button>
            <button
              type="submit"
              (click)="onSubmit()"
              [disabled]="!nidForm.valid"
              class="w-full md:w-auto bg-green-700 text-white px-4 py-4 rounded-md text-center"
            >
              Continue
              <span class="icon-angle-right"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


